/*!
 * Created in février 2021
 * Written by Eden Cadagiani <e.cadagiani@gmail.com>
 */
.BoardGame__view {
    .BoardGame__header {
        display: flex;
        justify-content: space-between;

        .BoardGame__title {
            font-family: 'Lobster', cursive;
            margin-top: 20px;
        }

        .BoardGame__time {
            text-align: right;
            margin-top: 20px;
        }
    }

    .BoardGame__cardContainer {
        margin: 0 auto;
        max-width: 800px;
    }
}
